/* !===== main visual ===== */
.p_main_visual{
    position: relative;
}

.p_main_visual video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    vertical-align: bottom;
}

.m_main_visual{
    display: none;
}

.p_main_visual .txt_box{
    position: absolute;
    top:110px;
    left: 0;
    padding: 35px 0 0 0;
    width: 100%;
    text-align: center;
}

.p_main_visual .txt_box h3{
    margin:  0 0 20px 0;
    font-size: 26px;
    font-family: 'GmarketSansMedium';
    color: #fff;
}

.p_main_visual .txt_box h1{
    font-size: 52px;
    font-family: 'Pretendard-Black';
    color: #fff;
}

.p_main_visual .btn_box{
    position: absolute;
    bottom: 85px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.p_main_visual .btn_box button{
    padding: 10px 0;
    box-sizing: border-box;
    max-width: 200px;
    width: 100%;
    font-size: 24px;
    font-family: 'Pretendard-Medium';
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.p_main_visual .btn_box button:hover{
    background-color: #fff;
    color: #222;
}




/* !===== sec Recharge models ===== */
.swiper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide{
    padding: 100px 0;
}

.swiper-slide.slide01{
    background-image: url('../imgs/volvo_recharge_models_c40_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide02{
    background-image: url('../imgs/volvo_recharge_models_xc40_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide03{
    background-image: url('../imgs/volvo_recharge_models_xc90_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide04{
    background-image: url('../imgs/volvo_recharge_models_xc60_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide.slide05{
    background-image: url('../imgs/volvo_recharge_models_s90_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.swiper-slide .content_box{
    max-width: 1440px;
    margin: 0 auto;
}

.swiper-slide .tit_box{
    margin: 0 0 80px 0;
}

.swiper-slide h3{
    font-size: 52px;
    font-family: 'Pretendard-SemiBold';
    color: #fff;
}

.swiper-slide .img_box{
    margin: 0 0 80px 0;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide .txt_btn_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide .txt_btn_box ul{
    display: flex;
    gap: 150px;
    flex: 2;
}

.swiper-slide .txt_btn_box ul li p{
    font-size: 32px;
    font-family: 'Pretendard-Medium';
    color: #fff;
}

.swiper-slide .txt_btn_box ul li strong{
    font-size: 52px;
}

.swiper-slide .txt_btn_box ul li p + p{
    font-size: 22px;
    color: #fff;
}

.swiper-slide .txt_btn_box .btn_box{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.swiper-slide .txt_btn_box .btn_box a{
    max-width: 240px;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    font-family: 'Pretendard-Medium';
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

.swiper-slide .txt_btn_box .btn_box a:hover{
    background-color: #fff;
    color: #222;
}

.swiper_button_box{
    margin: 0 40px;
}

.swiper-pagination{
    display: none;
}

.swiper-button-next, 
.swiper-button-prev{
    padding: 10px 15px;
    background-color: rgba(27,54,93,0.6);
}

.swiper-button-next > img,
.swiper-button-prev > img{
    max-width: 14px;
    width: 100%;
}

.swiper-button-next > img{
    transform: rotate(180deg);
}

.swiper-button-next:after, 
.swiper-button-prev:after{
    display: none;
}